<header>
    <div class="container">
        <a class="navbar-brand" href="#">
            <i style="font-size: 30px;" class="fa-solid fa-fork-knife"></i>
            <!-- <i style="font-size: 30px; color: #047BD5;" class="fas fa-food"></i> -->
            Food Order App
        </a>
        <nav>
            <form style="margin-top: 10px; margin-bottom: 10px;" class="d-flex">
                <button style="border: none; font-weight: bolder;" class="btn btn-outline-danger" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Login 
                </button>
                <button style="border: none; font-weight: bolder;" class="btn btn-outline-danger ms-2" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Signup
                </button>
                <button class="btn btn-outline-danger ms-2" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-danger text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </nav>
    </div>
</header>